
html * {
    scroll-behavior: smooth;
    font-family: 'Dancing Script', cursive !important;
    letter-spacing: 3px;
  }

h1 {
  font-size: 70px;
}

h2{
  font-size: 25px;
}

.Title {
    color: black;
    text-align: center;
}

